# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database file
mnemonic.db

# PyCharm / IDE files
.idea/
*.iml
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environment
venv/
env/
ENV/
.venv/

# Python logs
*.log

# OS files
.DS_Store
Thumbs.db
main.spec
